/*
* @Author: ding
* @Date:   2017-05-13 00:56:17
* @Last Modified by:   Asus
* @Last Modified time: 2017-05-22 16:29:28
*/
body{
	margin:0px;
	padding:0px;
	background-color:white;
}
.container{
	position: relative;
	left:50%;
	width:1200px;
	margin-left: -600px;
}
.header{
	position: relative;
	left:50%;
	width:1000px;
	margin-left: -500px;
}
 .header_top{
 	position: relative;
 	left:50%;
 	width:152px;
 	margin-left:-76px;
 	margin-top: 5px;
} 
.nav{
	float:left;
	width:900px;
	height:40px;
	font-size:15px;
	padding:0 0 15px 100px;
}
.nav ul{
	list-style-type: none;
}
.nav ul li{
	display: block;
	float:left;
	margin-left: 75px;
}

 .nav a:link{
	text-decoration: none;
	color: black;
	padding-top: 5px;
} 
.nav a:visited{
	text-decoration: none;
	color:  black;
	padding-top: 5px;
}
.nav a:hover{
	text-decoration:none;
	padding-top: 5px;
	color: black;
	border-top:2px solid #FFB03D;	
}
.top{width: 1000px;
	   height: 50px;
       text-align: center;
       margin-top: 100px;
       margin-bottom: 80px;
       }
.txt1{
	   font-family: "华文行楷";
	   font-weight: bolder;
       font-size: 30px;
       line-height:0px;
}
.txt2{
	padding-left: 20px;
	 font-family: "微软雅黑";
	 color:#f4a221;
	 font-size: 20px;
	 line-height:0px;
}
.txt3{
	 color:#8b8a88;
      font-size: 13px;
      margin-top:-5px;
      line-height:0px;
}
.txt4{ font-family: "黑体";
	   font-weight: bolder;
       font-size: 20px;
       line-height:0px;
   }
.content{
	position:relative;
	left:50%;
	width:1000px;
	margin-left:-500px;
	margin-top:30px;
	margin-bottom: 30px;
}
 .footer{
	width:1000px;
	background-color:#b7b8b8;
	position:relative;
	left:50%;
	margin-left:-500px;
	text-align:center;
	color:white;
	overflow: hidden;
	font-size: 14px;
	padding:10px;
}
img{
	border-radius:5px;
}









